@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    color: white;
    text-decoration: none;
    display: flex;
}

$bg: rgba(16, 16, 16);

.header {
    height: 100px;
    background-color: $bg;
    display: flex;
    align-items: center;
    padding: 2rem;
    // margin: 30px;
    box-sizing: border-box;
    justify-content: space-between;

    >img {
        height: 100%;
    }

    >div {
        width: 100%;
        // border: 3px solid red;
        margin-left: 4vmax;
        display: flex;

        >a {
            margin: 2vmax;
            font-size: 1.3rem;
            font-weight: 300;
        }
    }

    >svg {
        color: rgb(247, 243, 243);
        font-size: 2rem;
        cursor: pointer;

        &:hover {
            color: rgb(131, 84, 18);
        }
    }
}